@media (max-width: 500px) {
  /* nav */
  nav {
    width: 50vw !important;
  }

  .nav--links {
    display: none;
  }

  /* profile */
  #profile-section {
    flex-direction: column;
  }

  #profile-pic{
    display: none;
  }

  #profile-text-div > h2 {
    font-size: 30px;
  }
  #profile-text-div > h4 {
    font-size: 25px;
  }
  #profile-text-div > p {
    font-size: 20px;
  }
  #profile-text-div{
    width: 90%;
    /* text-align: center; */
    padding-bottom: 10vh;
  }

  /* about*/
  .video-big{
    width: 100vw;
    height: 60vh;
    border-radius: 0;
 }

 .heading-1{
    font-size: 30px;
 }

 .para{
    font-size: 20px;
 }

 /* course */
 #course-section{
margin: 0;
 }

 #course-div{
display: flex;
flex-direction: column;
justify-content: space-evenly;
}

.card{
    width: 70vw;
    justify-self: center;
}

.card-banner {
  height: 35vh;
}

.card-content {
  padding: 10px;
  margin: 0 10px;
}

/* instructor */

#mentor-div {
  display: flex;
  flex-direction: column;
  row-gap: 5vh;
  align-items: center;
  /* margin: 5rem 0; */
}

.mentor-text {
  width: 80vw;
}

.quzz-div{
   width: 100%;
   justify-self: center;
}

/* contact */
#contact-section {
  height: 35vh;
}

}

@media (min-width:501px) and (max-width: 900px) {
  /* nav */
  nav {
    width: 50vw !important;
  }

  .nav--links {
    display: none;
  }

  /* profile */
  #profile-section {
    flex-direction: column;
  }

  #profile-pic{
    display: none;
  }

  #profile-text-div > h2 {
    font-size: 40px;
  }
  #profile-text-div > h4 {
    font-size: 35px;
  }
  #profile-text-div > p {
    font-size: 30px;
  }
  #profile-text-div{
    width: 90%;
    /* text-align: center; */
    padding-bottom: 10vh;
  }

  /* about*/
  .video-big{
    width: 100vw;
    height: 60vh;
    border-radius: 0;
 }

 .heading-1{
    font-size: 40px;
 }

 .para{
    font-size: 30px;
 }

 /* course */
 #course-section{
margin: 0;
 }

 #course-div{
display: flex;
flex-direction: column;
justify-content: space-evenly;
}

.card{
    width: 50vw;
    justify-self: center;
}

.card-banner {
  height: 45vh;
}

.card-content {
  padding: 20px;
  margin: 0 10px;
}

/* instructor */

#mentor-div {
  display: flex;
  flex-direction: column;
  row-gap: 5vh;
  align-items: center;
  /* margin: 5rem 0; */
}

.mentor-text {
  width: 80vw;
}

.quzz-div{
   width: 100%;
   justify-self: center;
}

/* contact */
#contact-section {
  height: 40vh;
}

}

@media (min-width:801px) and (max-width: 1200px) {
   .card{
    width: 27vw;
    height: 60vh;
    margin: 1rem 0;
   }

   .card-banner {
  position: relative;
  height: 35vh;
}

.card-content {
  padding: 12px;
}
}

@media (min-width:1800px){
  /* nav */
  nav{
    width: 50vw !important;
  }
  .cyber{
    font-size: 60px;
  }
  .nav--links > svg{
    width: 50px !important;
    height: 50px !important;
  }

  /* profile */
  #profile-pic {
  width: 40vw;
  border-radius: 50%;
  /* border: 3px solid var(--brand-color); */
  opacity: 0%;
  margin-right: 2rem;
}

#profile-text-div {
  width: 40vw;
}

#profile-text-div > h2 {
  font-size: 80px;
}

#profile-text-div > h4 {
  font-size: 60px;
}

#profile-text-div > p {
  font-size: 45px;
  margin-top: 2vh;
}

/* about */
  .heading-1 {
  font-size: 80px;
}

.para {
  font-size: 50px;
  width: 90%;
  margin: 2rem auto;
}

/* course */
.badge-time {
  font-size: 25px;
}

  /* card */
   .card{
    width: 28vw;
    height: 60vh;
    margin: 5rem 0;
   }

   .card-banner {
  position: relative;
  height: 35vh;
}

.card-content {
  padding: 12px;
}

.card-title {
  font-size: 50px;
}

.desc {
  font-size: 30px;
}

/* instructor */
.mentor-img-div {
  width: 35vw;
  height: 35vw;
}
.mentor-text{
  margin-right: 7vw;
}
/* quzz */
.ans{
    font-size: 40px;
}

.quzz-div{
   width: 45vw;
}

.quzz{
    font-size: 50px;
}

.quzz > label > svg {
  width: 60px;
  height: 60px;
}

footer p{
  font-size: 60px;
}
.footer-p2{
  font-size: 40px;
}
}